@font-face {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/mulish-v11-latin_cyrillic-ext-regular.woff2")
      format("woff2"),
    url("./fonts/mulish-v11-latin_cyrillic-ext-regular.woff") format("woff");
}
@font-face {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/mulish-v11-latin_cyrillic-ext-700.woff2") format("woff2"),
    url("./fonts/mulish-v11-latin_cyrillic-ext-700.woff") format("woff");
}

* {
  font-family: "Mulish", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  margin: 0;
}

body {
  overflow-x: hidden;
}
